main {
    display: grid;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    width: 90%;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-image: url(https://image.api.playstation.com/vulcan/ap/rnd/202008/3113/9wgcOA65wdsxANrSr9ffwpi7.png);
}